  html {
    box-sizing: border-box;
  }

  *, ::after, ::before {
    box-sizing: inherit;
  }

  body {
    color: #fff;
    background-color: #00bfff;
    font-family: 'Montserrat', sans-serif;
  }